---
version: '3.9'

services:
  network-only:
    image: tianon/test:true-oci
    deploy:
      restart_policy:
        condition: none
    networks:
      - ${INFRASTRUCTURE_NETWORK_NAME}

networks:
  ${TUNNELED_NETWORK_NAME}:
    external: true
  ${INFRASTRUCTURE_NETWORK_NAME}:
    external: true
  ${MEDIA_NETWORK_NAME}:
    external: true
