---
version: '3.8'
services:
  network-only:                                                                                                                               
    image: tianon/test:true-oci                                                                                                                        
    container_name: network-only 
    restart: no                                                                                                             
    networks:
      - $INFRASTRUCTURE_NETWORK_NAME
networks:
  vpn:
    name: $TUNNELED_NETWORK_NAME
  infra:
    name: $INFRASTRUCTURE_NETWORK_NAME
  media:
    name: $MEDIA_NETWORK_NAME
    