---
version: '3.9'
services:
  network-only:                                                                                                                               
    image: tianon/test:true-oci                                                                                                                        
    deploy:
      restart_policy:
        condition: none                                                                                                           
    networks:
      - ${INFRASTRUCTURE_NETWORK_NAME}
networks:
  vpn:
    name: ${TUNNELED_NETWORK_NAME}
  infra:
    name: ${INFRASTRUCTURE_NETWORK_NAME}
  media:
    name: ${MEDIA_NETWORK_NAME}
    
