---
networks:
  networks_media_net:
    external: true

volumes:
  flaresolverr_config:

services:
  # Bazarr — Subtitle manager
  bazarr:
    image: 'lscr.io/linuxserver/bazarr:latest'
    container_name: bazarr
    restart: unless-stopped
    ports:
      - '30046:6767'
    environment:
      - TZ=America/Mexico_City
    volumes:
      - /mnt/HomeLab/Bazarr/config:/config
      - /mnt/HomeLab/Media-Server/movies:/movies #optional
    networks:
      - networks_media_net
  # Flaresolverr — Search engine for media
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    restart: unless-stopped
    ports:
      - '30098:8191'
    environment:
      - LOG_LEVEL=info
      - TZ=America/Mexico_City
    volumes:
      - flaresolverr_config:/config
    networks:
      - networks_media_net
  # Jellyfin — Media server
  jellyfin:
    image: 'lscr.io/linuxserver/jellyfin:latest'
    container_name: jellyfin
    restart: unless-stopped
    ports:
      - '30013:8096'
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Mexico_City
    volumes:
      - /mnt/HomeLab/Jellyfin/config:/config
      - /mnt/HomeLab/Media-Server/series:/data/series
      - /mnt/HomeLab/Media-Server/movies:/data/movies
      - /mnt/HomeLab/Media-Server/music:/data/music
    networks:
      - networks_media_net
  # Jellyseerr — Movie and TV show manager
  jellyseerr:
    image: 'fallenbagel/jellyseerr:latest'
    container_name: jellyseerr
    restart: unless-stopped
    ports:
      - '30042:5055'
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Mexico_City
    volumes:
      - /mnt/HomeLab/Jellyseerr/config:/config
    networks:
      - networks_media_net  
  # Prowlarr — Indexer manager
  prowlarr:
    image: 'lscr.io/linuxserver/prowlarr:latest'
    container_name: prowlarr
    restart: unless-stopped
    ports:
      - '30050:9696'
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Mexico_City
    volumes:
      - /mnt/HomeLab/Prowlarr/config:/config
    networks:
      - networks_media_net
  # Radarr — Movie manager
  radarr:
    image: 'lscr.io/linuxserver/radarr:latest'
    container_name: radarr
    restart: unless-stopped
    ports:
      - '30025:7878'
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Mexico_City
    volumes:
      - /mnt/HomeLab/Radarr/config:/config
      - /mnt/HomeLab/Media-Server/movies:/movies
      - /mnt/HomeLab/Media-Server/downloads:/downloads
    networks:
      - networks_media_net
  # Sonarr — TV show manager
  sonarr:
    image: 'lscr.io/linuxserver/sonarr:latest'
    container_name: sonarr
    restart: unless-stopped
    ports:
      - '30113:8989'
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Mexico_City
    volumes:
      - /mnt/HomeLab/Sonarr/config:/config
      - /mnt/HomeLab/Media-Server/series:/series
      - /mnt/HomeLab/Media-Server/downloads:/downloads